body {
background-color:black;
}
#goal{
    padding-left: 35%;
    padding-right: 35%;
    color:white;
    padding-bottom: 2%; 
    text-align:center;
    font-family: Tahoma, Verdana, sans-serif;
}
a {
    padding-left: 23%;
    text-decoration: none;
    text-decoration-color: rgb(128, 239, 239);
}
